<div class="div3">
    <table>
        <tr><td><a href="/">Home</a></td></tr>
        <tr><td><a href="/createacc">Create an account</a></td></tr>
        <tr><td><a href="/logout" onclick="sendAlert()">LOG OUT</a></td></tr>
        <tr><td><a href="/find">Find a dog/cat</a></td></tr>
        <tr><td><a href="/dogcare">Dog Care</a></td></tr>
        <tr><td><a href="/catcare">Cat Care</a></td></tr>
        <tr><td><a href="/donate">Have a pet to give away?</a></td></tr>
        <tr><td><a href="/contact">Contact Us</a></td></tr>
    </table>
    <script>
       function sendAlert()
       {
        alert("You have been logged out");
       }
    </script>
</div>