<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADOPT-ME</title>
    <link rel="stylesheet" href="../stylesheets/q8.css" type="text/css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/side-menu.ejs') %>
    <div class="div4">
        <h1>WANT TO GET IN CONTACT?</h1>
        <h2>My <span style="font-weight: bold">name</span> is<span style="font-weight: bold"> Andrei Jianu</span>. <br> I run this adoption center and website. </h2>
        <h2>My <span style="font-weight: bold">student ID</span> is <span style="font-weight: bold">40275653</span>.<br> If you'd like to get in contact with me,<br> my <span style="font-weight: bold">business email</span> 
            is <span style="font-weight: bold">andrei.jianu31@gmail.com</span></h2>
    </div>
    <%- include('partials/footer.ejs') %>
</body>