
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADOPT-ME</title>
    <link rel="stylesheet" href="../stylesheets/q8.css" type="text/css">
</head>
<!-- https://www.pngwing.com/en/free-png-dkhtg-->
<!-- https://www.rolimons.com/item/15123250346-->
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/side-menu.ejs') %>
    <div class="div4">
        <div>
            <p>Logo taken from <a href="https://www.pngwing.com/en/free-png-dkhtg">HERE</a></p>
            </div>
            <h1>Your Gateway <br> to <br>Furry Friendships</h1>
            <h2> Find Your Furry Soulmate</h2>
            <div>
                <p>Are you ready to add a bundle of joy to your life? 
                    Look no further! At Pawsome Companions, we believe that every pet deserves a loving home. 
                    Browse through our adorable selection of cats and dogs, each with a unique story and personality waiting to charm its way into your heart. 
                    Our furry friends are ready to be your loyal companions, providing endless love, joy, and companionship.</p>
                    
            </div>
            <h2>Why Adopt from Pawsome Companions?</h2>
            <ul>
                <li>All our pets are spayed/neutered, vaccinated, and microchipped.</li>
                <li>We do thorough background checks ensure the well-being of our animals</li>
                <li>We offer expert guidance from our team to match you with the perfect pet.</li>
                <li>You'll have the opportunity to join our community of responsible pet owners</li>
            </ul>
            <h2>Give a Second Chance: Rehome a Cat or Dog!</h2>
            <div><p>If circumstances change and you find yourself unable to care for your beloved pet, Pawsome Companions is here to help. 
                Our compassionate rehoming services ensure that your furry friend finds a loving home where they will be cherished and cared for. 
                Let us guide you through the process, providing support and reassurance every step of the way.</p></div>
            <h2>  Why Choose Pawsome Companions for Rehoming?</h2>
            <ul>
                <li>Strict screening process to ensure responsible and loving adopters.</li>
                <li>Personalized profiles to showcase your pet's unique qualities.</li>
                <li>Ongoing support for both pet owners and adopters.</li>
                <li>A commitment to finding the best possible homes for your cherished companions.</li>
            </ul>   
            <h2> Join the Pawsome Community! </h2>
            <div><p>Whether you're looking to adopt or rehome, Pawsome Companions is more than just a pet adoption center it's a community of animal lovers dedicated to creating happy homes for every cat and dog. 
                Join us in our mission to make the world a better place for pets, one adoption at a time.
            </p></div>
            
        <div><p id="bottom">Ready to embark on this heartwarming journey? Start browsing our furry friends now or reach out to our caring team for support. Your new best friend is just a click away!</p>
            <p>Adopt, Love, and Make a Pawsome Difference! </p></div>
    </div>
    <%- include('partials/footer.ejs') %>
    </div>
</body>
</html>