<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADOPT-ME</title>
    <link rel="stylesheet" href="../stylesheets/q7.css" type="text/css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/side-menu.ejs') %>
    <div class="div4">
        <div class="pets-container">
            <div class="pet">
                <table>
                    <tr>
                        <td><img src="ActualBingus.jpg" alt="bingus"></td>
                        
                    </tr>
                        <tr>
                            <td><h4>BINGUS - CAT</h4></td>
                        </tr>
                    <tr>
                        <td><p>MALE, 21</p></td>
                    </tr>
                    <tr>
                        <td><p>GETS ALONG WITH : NONE</p></td>
                    </tr>
                    <tr>
                        <td><p>Breed : Alien</p></td>
                    </tr>
                    <tr>
                        <td><p>Unique traits: blamed for Roswell</p></td>
                    </tr>
                    <tr>
                        <td><p>OWNER CONTACT : superman@gmail.com</p></td>
                    </tr>
                    <tr>
                        <td><button>Interested</button></td>
                    </tr>
                </table>
              
            </div>
            <div class="pet">
                <table>
                    <tr>
                        <td><img src="side_eye_cat.jpg" alt="cat eating food menacingly"></td>
                    </tr>
                    <tr>
                        <td><h4>SIDE EYE SAM - CAT</h4></td>
                    </tr>
                    <tr>
                        <td><p>MALE, 2</p></td>
                    </tr>
                    <tr>
                        <td><p>GETS ALONG WITH: KIDS, ADULTS, PETS</p></td>
                    </tr>
                    <tr>
                        <td><p id="cat-siamese">Breed : Orange Cat</p></td>
                    </tr>
                    <tr>
                        <td><p>UNIQUE TRAITS : GOVERNMENT WHISTLEBLOWER</p></td>
                    </tr>
                    <tr>
                        <td><p>OWNER CONTACT: FATSMOKE@HOTMAIL.COM</p></td>
                    </tr>
                    <tr>
                        <td><button>Interested</button></td>
                    </tr>
                </table>
            </div>
            <div class="pet">
                <table>
                    <tr>
                        <td><img src="sdc.jpg" alt="sus dog"></td>
                    </tr>
                    <tr>
                        <td><h4>SUSSYMASTER - DOG</h4></td>
                    </tr>
                    <tr>
                        <td><p>FEMALE, 5</p></td>
                    </tr>
                    <tr>
                        <td><p>GETS ALONG WITH: KIDS, ADULTS, PETS</p></td>
                    </tr>
                    <tr>
                        <td><p id="dog-dachsund">Breed : DACHSHUND</p></td>
                    </tr>
                    <tr>
                        <td><p>UNIQUE TRAITS : LIE DETECTOR</p></td>
                    </tr>
                    <tr>
                        <td><p>OWNER CONTACT: carljohnson@yahoo.ca</p></td>
                    </tr>
                    <tr>
                        <td><button>Interested</button></td>
                    </tr>
                </table>
            </div>
            <div class="pet">
                <table>
                    <tr>
                        <td><img src="salty.png" alt="scared dog"></td>
                    </tr>
                    <tr>
                        <td><h4>Salty - dog</h4></td>
                    </tr>
                    <tr>
                        <td><p id="dog-greyhound">Male, 1</p></td>
                    </tr>
                    <tr>
                        <td><p>GETS ALONG WITH: KIDS, ADULTS, PETS, INTRUDERS</p></td>
                    </tr>
                    <tr>
                        <td><p>Breed : GREYHOUND</p></td>
                    </tr>
                    <tr>
                        <td><p>UNIQUE TRAITS : BUCK TEETH</p></td>
                    </tr>
                    <tr>
                        <td><p>OWNER CONTACT: igotrobbed@gmail.com</p></td> 
                    </tr>
                    <tr>
                        <td><button>Interested</button></td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>
    </div>
<%- include('partials/footer.ejs') %>
</body>
</html>