<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADOPT-ME</title>
    <link rel="stylesheet" href="../stylesheets/q8.css" type="text/css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/side-menu.ejs') %>
    <div class="div4">
            <h1>Privacy disclaimer</h1>
            <h2>Your privacy is of the utmost importance to us. Rest assured that none of the information you give us will be sold or misused.</h2>
    </div>
    <%- include('partials/footer.ejs') %>
</body>